{% extends "layout.html.twig" %} {% block content %}

    <div
            class="my-5 py-5 d-flex flex-column align-items-center justify-content-center"
    >
        <p>Etes-vous sûr que vous voulez supprimer cet article</p>
        <div>
            <a href="/article/index" class="btn btn-link text-decoration-none fw-bold"
            >Annuler</a
            >
            <a
                    href="/article/delete/{{ id }}"
                    class="btn btn-link text-decoration-none fw-bold"
            >Supprimer</a
            >
        </div>
    </div>

{% endblock %}
